layout {
    gaps 25;
    background-color "transparent";
    default-column-display "tabbed"
    center-focused-column "never";
    default-column-width {
        proportion 0.5;
    }

    preset-column-widths {
        proportion 0.5;
        proportion 0.8;
        proportion 0.34;
        proportion 0.7;
    }

    focus-ring {
        on;
        width 2;
        active-color "#3F3F3F";
        inactive-color "#000000";
    }

    struts {
        top 0;
        right 0;
        left 0;
        bottom 0;
    }

    border {
        off;
        width 1;
        active-color "#3A2A8A";
        inactive-color "#1A1A6A";
    }

    shadow {
        off;
        draw-behind-window false;
        softness 1;
        spread 1;
        offset x=0 y=0;
        color "#1D1D2D";
    }

    // insert-hint {
    //     color "#ffc87f80"
    //     gradient from="#ffbb6680" to="#ffc88080" angle=45 relative-to="workspace-view"
    // }

    tab-indicator {
        gap 1;
        width 1;
        position "bottom";
        corner-radius 20;
        gaps-between-tabs 15;
        hide-when-single-tab
        length total-proportion=0.75;
        active-color "white";
        inactive-color "black";
        urgent-color "green";
    }
}
